<h1>Requirements</h1>

<ul class='requirements_list'>
<% @requirements.each do |requirement| %>
  <li>
  <%= link_to requirement, :class => 'requirement_block' do %>
    <span class='req_id'><%= requirement.id %></spac>
    <span class='title'><%= requirement.title %></spac>
    <span class='body'><%= truncate(requirement.body) %></span>
  <% end %>
  </li>
<% end %>
</ul>

<style type="text/css">
  .requirements_list li {list-style-type: none; margin-bottom: 0.3em;}
  .requirements_list .body {font-size: smaller;}
</style>

<%= will_paginate @requirements %>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
