<ul class='requirements_list'>
<% @requirements.each do |requirement| %>
  <li class='requirement'>
  <%= link_to requirement do %>
    <span class='title'><%= truncate(requirement.title, :length => 80) %></span>
    <span class='req_id'><%= requirement.id %></span></br>
    <!--<span class='body'><%= truncate(requirement.body, :length => 50) %></span>-->
  <% end %>
  </li>
<% end %>
</ul>

<style type="text/css">
  .requirements_list .requirement {
    list-style-type: none; 
    padding: 0.5em; 
    margin: 0.2em;
    color: #333;
  }
  .requirements_list .requirement:hover {
    background-color: #ccc
  }
  .requirements_list .requirement a {text-decoration: none;}
  .requirements_list .req_id {float: right;}
  .requirements_list .title {}
  .requirements_list .body {font-size: smaller;}
</style>

<%= will_paginate @requirements %>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
