<p id="notice"><%= notice %></p>

<%= link_to image_tag("arrow_left_alt1_24x24.png"), requirements_path %>

<canvas id="viewport" width="400" height="400"></canvas>

<h1><%= @requirement.title %></h1>

<style type="text/css">
	.page .content h1 {font-size: 120%; padding-top: 0.3em; padding-bottom: 0.3em; border-bottom: 1px solid #eee;}
  	#viewport {float: right;}

  	.requirement_detailed {background-color: #eee; padding-top: 0.3em; padding-bottom: 0.3em; width: 60%;}
  	.requirement_detailed p {display: none;}

	img.centered {margin-left: auto; margin-right: auto; display: block; margin-top: 1em; margin-bottom: 1em;}
</style>

<% if @deriving_requirements.any? %>
	<%= render :partial => "req", :collection => @deriving_requirements %>
	<%= image_tag "arrow_up_32x32.png", :class => "centered" %>
<% end %>

<br/>

<p>
  <%= @requirement.body %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %>

<% if @derived_requirements.any? %>
	<%= image_tag "arrow_down_32x32.png", :class => "centered" %>
	<%= render :partial => "req", :collection => @derived_requirements %>
<% end %>

<script type="text/javascript">
	$(".requirement_detailed").click(function(e){
		$("p", e.srcElement).toggle(); 
	});
</script>