<p id="notice"><%= notice %></p>

<%= link_to 'Back', requirements_path %>

<% if @deriving_requirements.any? %>
<h3>Derived from:</h3>
<%= render :partial => "req", :collection => @deriving_requirements %>
<% end %>

<h1><%= @requirement.title %></h1>

<p>
  <%= @requirement.body %>
</p>

<% if @derived_requirements.any? %>
<h3>Derived:</h3>
<%= render :partial => "req", :collection => @derived_requirements %>
<% end %>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Delete', @requirement, method: :delete, data: { confirm: 'Are you sure?' } %>
