<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @requirement.title %>
</p>

<p>
  <b>Body:</b>
  <%= @requirement.body %>
</p>

<p>
  <b>Derived Requirements:</b>
  <%= render :partial => "req", :collection => @derived_requirements %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
